.form-control > :nth-child(odd) {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  border: 2px solid #ccc;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s;
}
.form-control > :first-child:focus {
  /* border: 2px solid var(--active-color); */
  outline: 3px solid var(--active-color);
  outline-offset: 4px;
}

.form-control > :nth-child(odd) {
  color: #474b4f;
}

.textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

.button {
  font-family: "Josefin Sans", sans-serif;
  width: 110px;
  height: 40px;
  background-color: var(--dark-active-color);
  color: var(--text-color);
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -4px;
  transition: all 0.3s;
  
}

.button:hover {
  transform: scale(0.98);
}
.button:focus {
  outline: 3px solid var(--active-color);
  outline-offset: 4px;
}

.invalid input,
.invalid textarea {
  border: 2px solid #ff0000 !important;
  background-color: #fddddd;
}

.invalid input:focus,
.invalid textarea:focus {
  border: 2px solid #ff8800;
  background-color: #fbe8d2;
  outline: 3px solid #ff0000 !important;
  outline-offset: 4px;
}

.error {
  color: #ea5d5d;
  margin: 0 auto 0.625rem;
}

@media screen and (max-width: 600px) {
  .button {
    width: 100%;
  }
}
