.about {
  padding: 5rem 0;
  border-color: var(--bg-light);
  scroll-margin-top: 4.875rem;
}

.about-grid {
  /* grid-template-columns: repeat(1, 2fr 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(640px, 1fr))
}

.title {
  text-align: center;
  font-size: 1.5rem;
}

.title-span {
  color: var(--active-color);
}

.title hr {
  width: 80px;
  padding: 0 30px;
  margin: 0 auto;
  border: 1px solid var(--text-color);
}

.about-img {
  position: relative;
}

.about-img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(5deg);
  background-color: #666;
  width: 100%;
  height: 100%;
}


.about-content {
  max-width: 500px;
  justify-self: end;
}

.about-content__paragraph {
  font-size: 1.25rem;
  text-indent: 25px;
}

.border {
  position: relative;
  background-color: #666;
  display: flex;
  width: 135px;
  height: 40px;
  text-align: center;
  font-size: 1.375rem;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--text-color);
  border-radius: 20px;
}

.border::before {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 30px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
  border-top: 13px solid var(--text-color);
}

.first-name {
  font-weight: 600;
  color: var(--active-color);
}


@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .about-img {
    margin-left: auto;
    margin-right: auto;
  }

  .about-img,
  .about-img::after {
    width: 350px;
    height: 350px;
  }

  .about-content {
    justify-self: center;
  }
}
