.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  line-height: 1;
  height: calc(100vh - 4.875rem);
}

.home__content {
  margin-bottom: 100px;
}

.home__title {
  align-items: start;
}

.home__title-greeting {
  margin-bottom: 1rem;
  transform: translateY(500px);
  animation: slideUp 0.8s ease forwards 0.5s;
}

.home__title-name {
  font-size: 5rem;
  font-weight: 700;
  margin-left: -5px;
  margin-bottom: 1rem;
  transform: translateY(500px);
  animation: slideUp 0.8s ease forwards 0.7s;
}

.text-wrapper {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1.1;
  transform: translateY(500px);
  animation: slideUp 0.8s ease forwards 0.9s;
}

.home__paragraph-creative {
  width: 370px;
  font-weight: 700;
}

.items {
  font-size: 1.7rem;
  opacity: 0;
  animation: fadeIn 3s ease forwards 0.7s;
}

.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.25rem;
  font-size: 1.2rem;
  font-weight: 700;
  transform: translateY(500px);
  animation: slideUp 0.8s ease forwards 1.1s;
}

.link {
  position: relative;
  padding-bottom: 2px;
}

.link-item:hover {
  color: var(--active-color);
  transition: color 0.6s;
}

.link-item::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  border: 1.4px solid var(--active-color);
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: center center;
  box-shadow: 0px 4px 6px rgba(134, 194, 50, 0.2);
}

.link-item:hover::after {
  transform: scaleX(1);
  transform-origin: center center;
  transition-duration: 0.4s;
}

.divider {
  font-size: 1.7rem;
  padding: 0 0.9375rem;
}

.scroll {
  position: relative;
  transform: translateY(500px);
  animation: slideUp 0.8s ease forwards 1.3s;
}

.scroll__mouse {
  position: absolute;
  bottom: -70px;
  left: 16px;
  width: 29px;
  height: 48px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}

.scroll__mouse:hover {
  border: 2px solid var(--dark-active-color);
  transition: all 0.4s;
}

.scroll__mouse::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 45%;
  width: 2px;
  height: 13px;
  background-color: #f9f9f9;
  border-radius: 30%;
  animation: mouseScroll ease 1.8s infinite;
  box-sizing: border-box;
}

.scroll__mouse:hover::before {
  background-color: var(--dark-active-color);
  transition: all 0.4s;
}

.circle {
  position: relative;
  width: 425px;
  height: 425px;
  background-color: #f9f9f9;
  border-radius: 50vh;
  overflow: hidden;
}

.circle::before {
  content: "";
  position: absolute;
  inset: -50px 70px;
  /* inset: 0px 70px; */
  background: linear-gradient(
    var(--dark-active-color),
    var(--dark-active-color)
  );
  transition: 0.5s;
  animation: animatedCircle 8s linear infinite;
}

.circle::after {
  content: "";
  position: absolute;
  background-color: #222629;
  inset: 6px;
  border-radius: 50%;
  z-index: 1;
}

.content {
  position: absolute;
  inset: 30px;
  border: 4px solid #f9f9f9;
  z-index: 3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

.circle__img {
  position: absolute;
  top: -25px;
  left: -10px;
  width: 110%;
  height: 110%;
  transition: 0.5s;
  text-align: center;
  pointer-events: none;
  z-index: 3;
}

.circle__paragraph {
  position: relative;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0.625rem 0;
}

.circle__paragraph span {
  display: block;
  font-weight: 300;
  font-size: 13px;
  padding: 5px 0;
}

.circle__link {
  position: relative;
  background-color: var(--dark-active-color);
  color: #f9f9f9;
  padding: 10px 20px 7px 20px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
  border-radius: 20px;
}

.circle__link:hover {
  letter-spacing: 3px;
  background-color: #f9f9f9;
  color: var(--dark-active-color);
  transition: all 0.4s;
}

.circle:hover::before {
  inset: -20px 0px;
}

.circle:hover .circle__img {
  opacity: 0;
}

@keyframes slideUp {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  30% {
    opacity: 0;
    transform: scale(1.2);
  }

  50% {
    opacity: 0;
    transform: scale(1.2);
  }

  70% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes mouseScroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes animatedCircle {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 890px) {
  .home__title-name {
    font-size: 3rem;
  }

  .text-wrapper {
    font-size: 1.4rem;
  }

  .items {
    /* font-size: 2rem; */
  }

  .links {
    font-size: 1rem;
    margin-top: 10px;
  }

  .divider {
    font-size: 1.2rem;
  }
  .circle {
    width: 340px;
    height: 340px;
  }
}
@media screen and (max-width: 768px) {
  .home {
    flex-direction: column-reverse;
    justify-content: space-around;
    line-height: 0.8;
  }

  .home__content {
    /* align-items: flex-start; */
  }

  .home__paragraph-creative {
    width: 232px;
  }

  .circle {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .circle {
    width: 280px;
    height: 280px;
  }

  .circle::before {
    inset: -25px 70px;
  }
}
